@page
@model LeaderboardModel
@{
    ViewData["Title"] = "Leaderboard";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6 mb-1">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="type" id="option1" value=0> Ex&aacute;menes
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="type" id="option2" value=1> Pr&aacute;cticas
                </label>
            </div>
        </div>
        <div class="col-lg-6">
            <form method="post">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary @(Model.OptionTime == 0 ? "active" :"")">
                        <input type="radio" asp-for="OptionTime" value=0 name="time" id="option1"> Semanal
                    </label>
                    <label class="btn btn-secondary @(Model.OptionTime == 1 ? "active" :"")">
                        <input type="radio" asp-for="OptionTime" value=1 name="time" id="option2"> Mensual
                    </label>
                </div>
            </form>
        </div>
    </div>

</div>

<div class="container mt-4 text-center">
    <table class="table table-sm">
        <thead class="table-head">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Puntos</th>
            </tr>
        </thead>
        <tbody>
            @{ int cont = 1; bool found = false; }

            @foreach (var user in Model.Leaderboard)
            {
                @if(cont > 10) { break; }
                <tr @if (user.Username == Model.Username) { found = true; }
                    class="@(user.Username == Model.Username ? "table-active": "") ">
                    @if (cont == 1)
                    {
                        <th scope="row"><i class="fas fa-medal" style="color: rgb(255, 191, 0)"></i></th>
                    }
                    else if (cont == 2)
                    {
                        <th scope="row"><i class="fas fa-medal" style="color: rgb(102, 102, 102)"></i></th>
                    }
                    else if (cont == 3)
                    {
                        <th scope="row"><i class="fas fa-medal" style="color: rgb(205, 127, 50)"></i></th>
                    }
                    else
                    {
                        <th scope="row">@cont</th>
                    }
                    <td>@user.Username</td>
                    <td>@user.Score</td>
                    @{ cont++; }
                </tr>
            }

        </tbody>
        @if (!found)
        {
            <tr>
                <td scope="row">...</td>
                <td></td>
                <td></td>
            </tr>
            <tfoot>
                <tr class="table-active">
                    <th scope="row">#</th>
                    <td>@Model.Username</td>
                    <td>#</td>
                </tr>
            </tfoot>
        }
    </table>
</div>