@page
@model ProfileModel
@{
    ViewData["Title"] = "Perfil";
}

<div class="container mt-5">
    <div class="row p-5 mb-3" style="border: solid 5px rgba(102, 102, 102, 0.25); border-radius: 20px;">
        <div class="col-lg-4 ">
            <div class="row">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" style="border: solid 5px rgb(255, 131, 0); border-radius: 50%; width: 65%; display:block;" id="profile" class="mx-auto mb-4" />
            </div>
            <div class="row mb-lg-3">
                <div class="col-lg-12 text-center" style="font-size: 1.25rem">
                    Usuario: @Model.Username
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center" style="font-size: 1.25rem">
                    Departamentos: <br />
                    @foreach (var department in Model.Departments)
                    {
                        @department<br />
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <!-- FIRST REWARD -->
            <div class="row mb-5">
                <div class="col-lg-12">
                    <p class="h4">Recompensas ex&aacute;menes</p>
                    <div class="row align-items-center text-center mt-3">
                        <div class="col-lg-4 mb-3 lighter-font">
                            Obt&eacute;n este logro al resolver ex&aacute;menes.
                        </div>
                        <div class="col-lg-4 mb-3">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped my-bg" role="progressbar" style="width: @(Model.ScoreMedal1.ToString() + "%")" aria-valuenow="@Model.ScoreMedal1" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            @Model.ScoreMedal1/100
                        </div>
                        <div class="col-lg-4">
                            @if (Model.Medal1 == 0)
                            {
                                <i class="fas fa-medal" style="color: rgb(212, 212, 212); font-size: 3rem;"></i>
                            }
                            else if (Model.Medal1 == 1)
                            {
                                <i class="fas fa-medal" style="color: rgb(205, 127, 50); font-size: 3rem;"></i>
                            }
                            else if (Model.Medal1 == 2)
                            {
                                <i class="fas fa-medal" style="color: rgb(102, 102, 102); font-size:3rem;"></i>
                            }
                            else if (Model.Medal1 == 3)
                            {
                                <i class="fas fa-medal" style="color: rgb(255, 191, 0); font-size:3rem;"></i>
                            }
                            else if (Model.Medal1 == 4)
                            {
                                <i class="fas fa-medal" style="color: rgb(20, 226, 220); font-size: 3rem;"></i>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- SECOND REWARD -->
            <div class="row mb-5">
                <div class="col-lg-12">
                    <p class="h4">Recompensas inmunidad</p>
                    <div class="row align-items-center text-center mt-3">
                        <div class="col-lg-4 mb-3 lighter-font">
                            Obt&eacute;n este logro al realizar ex&aacute;menes perfectos.
                        </div>
                        <div class="col-lg-4 mb-3">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped my-bg" role="progressbar" style="width: @(Model.ScoreMedal2.ToString() + "%")" aria-valuenow="@Model.ScoreMedal1" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            @Model.ScoreMedal2/100
                        </div>
                        <div class="col-lg-4">
                            @if (Model.Medal2 == 0)
                            {
                                <i class="fas fa-medal" style="color: rgb(212, 212, 212); font-size: 3rem;"></i>
                            }
                            else if (Model.Medal2 == 1)
                            {
                                <i class="fas fa-medal" style="color: rgb(205, 127, 50); font-size: 3rem;"></i>
                            }
                            else if (Model.Medal2 == 2)
                            {
                                <i class="fas fa-medal" style="color: rgb(102, 102, 102); font-size:3rem;"></i>
                            }
                            else if (Model.Medal2 == 3)
                            {
                                <i class="fas fa-medal" style="color: rgb(255, 191, 0); font-size:3rem;"></i>
                            }
                            else if (Model.Medal2 == 4)
                            {
                                <i class="fas fa-medal" style="color: rgb(20, 226, 220); font-size:3rem;"></i>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- THIRD REWARD -->
            <div class="row">
                <div class="col-lg-12">
                    <p class="h4">Recompensas por posici&oacute;n en tablero</p>
                    <div class="row align-items-center text-center mt-3">
                        <div class="col-lg-4 mb-3 lighter-font">
                            Obt&eacute;n este logro al ingresar y mantenerte en el leaderboard.
                        </div>
                        <div class="col-lg-4 mb-3">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped my-bg" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            75/100
                        </div>
                        <div class="col-lg-4">
                            @if (Model.Medal3 == 0)
                            {
                                <i class="fas fa-medal" style="color: rgb(212, 212, 212); font-size: 3rem;"></i>
                            }
                            else if (Model.Medal3 == 1)
                            {
                                <i class="fas fa-medal" style="color: rgb(205, 127, 50); font-size: 3rem;"></i>
                            }
                            else if (Model.Medal3 == 2)
                            {
                                <i class="fas fa-medal" style="color: rgb(102, 102, 102); font-size:3rem;"></i>
                            }
                            else if (Model.Medal3 == 3)
                            {
                                <i class="fas fa-medal" style="color: rgb(255, 191, 0); font-size:3rem;"></i>
                            }
                            else if (Model.Medal3 == 4)
                            {
                                <i class="fas fa-medal" style="color: rgb(20, 226, 220); font-size: 3rem;"></i>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>